#!/usr/bin/make -f

# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_install:
	dh_auto_install --dest debian/tmp
	mv debian/tmp/usr/lib debian/tmp/lib
#	mkdir -p debian/tmp/lib/${DEB_HOST_MULTIARCH}/security
#	mv debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/security/*.so debian/tmp/lib/${DEB_HOST_MULTIARCH}/security
